@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

body {
	
	font-family: Verdana, Geneva, sans-serif;
	background-color: #FFFFFF;
	
	}

.wrapper {
	width: 95%;
	height:auto;
	background-color: #FFFFFF;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	}




/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	padding: 20px;
	width: 100%;
	display: block;
	font-family:Verdana, Geneva, sans-serif;
	color: #0000CC;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

header{
	padding-top:15px;
	padding-left:20px;
	padding-bottom: 15px;
	background-size: cover;
      
}
	

footer {
	background: rgb(172,255,222); /* Old Browsers */
	background: -webkit-linear-gradient(top,rgb(172,255,222),rgb(108,255,163)); /*Safari 5.1-6*/
	background: -o-linear-gradient(top,rgb(172,255,222),rgb(108,255,163)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top,rgb(172,255,222),rgb(108,255,163)); /*Fx 3.6-15*/
	position: fixed;
	   bottom:0;
	   width:100%;
	   height: 60px; 
	   text-align: center;
	   padding-top: 20px;
	background: linear-gradient(to bottom, rgb(172,255,222), rgb(108,255,163)); /*Standard*/
	
	}	
	

.sub-title {
	background: rgb(172,255,222); /* Old Browsers */
	background: -webkit-linear-gradient(top,rgb(172,255,222),rgb(108,255,163)); /*Safari 5.1-6*/
	background: -o-linear-gradient(top,rgb(172,255,222),rgb(108,255,163)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top,rgb(172,255,222),rgb(108,255,163)); /*Fx 3.6-15*/
	background: linear-gradient(to bottom, rgb(172,255,222), rgb(108,255,163)); /*Standard*/
	 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.25em;
	padding-top: 8px;
	padding-left: 20px;
	padding-bottom: 3px;
	color: #660099;
	text-align: center;
	}

.firstBox{
	width: 40%;
	float: left;
	clear: right;
	}

.secondBox{
	width: 10%;
	float: right;
	clear: left;
	background-color: #f49354;
	padding: 2px;
	
	}

.date {
	float: right;
	clear: none;
	padding-right: 2%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: red;
}


.col-lg-4{
	float: left;
	clear: both;
	padding-right: 5%;
	}

aside{
	float: left;
	width: 50%;
	padding-top: 12px;
	padding-right: 1%;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.25em;
	color: #996666;
	
	}

section{
	float: right;
	clear: both;
	width: 40%;
	padding-top: 12px;
	padding-left: 1%;
	font-family: "Arial";
	font-size: 1em;
	background-color: #E5CAE5;
	background: fixed;
	
	}

=======
col-xs-pull-0{right:auto}
>>>>>>> origin/gh-pages

.date {
	float: right;
	clear: none;
	padding-right: 15px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 10px;
	color: red;
}

h4 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #AB06A7;
}

h5 {
	font-family: "Arial;
	color: #3D1F7F;
	size: 2.5em;
}

h6 {
	color: #1F1D1A;
	size: 1.25;
}


blockquote, address, .page-links a:hover, .post-format-wrap {border-color:#eb2326}
.meta span i, .more-link, .post-title h3:hover, #main .standard-posts-wrapper .posts-wrapper .post-single .text-holder-full .post-format-wrap p.link-text a:hover, .breadcrumbs .breadcrumbs-wrap ul li a:hover, #article p a, .navigation a, .link-post i.fa, .quote-post i.fa, #article .link-post p.link-text a:hover, .link-post p.link-text a:hover, .quote-post span.quote-author, .post-single ul.link-pages li a strong, .post-info span i, .footer-widget-col ul li a:hover, .sidebar ul.link-pages li.next-link a span, .sidebar ul.link-pages li.previous-link a span, .sidebar ul.link-pages li i, .row .row-item .service i.fa {color:#eb2326}
input[type=&quot;submit&quot;],button, .page-links a:hover {background:#eb2326}
.search-submit,.wpcf7-form-control,.main-navigation ul ul, .content-boxes .circle, .feature .circle, .section-title-right:after, .boxtitle:after, .section-title:after, .content-btn, #comments .form-submit #submit {background-color:#eb2326}
.back-to-top {color:#272727}
.back-to-top i.fa:hover {color:#eb2326}
#logo {width:400px }
#logo {height:30px }
#logo { margin-right:25px }
#logo {text-transform: uppercase }
#logo {font-family:Open Sans}
#logo a {color:#ffffff}
#logo .site-description {color:#ffffff}
#logo .site-description {text-transform: uppercase}
#navbar ul li a {font-family:Open Sans}
#navbar ul li a {font-size:13px}
#navbar ul li a {text-transform: uppercase;}
.navbar-nav li a {color:#ffffff}
.dropdown-menu {border-bottom: 5px solid #c9c9c9}
.navbar-nav {background-color:#202020}
.dropdown-menu { background:#202020}
.navbar-nav li a:hover {color:#eb2326}
.navbar-nav ul li a:hover, .navbar-nav ul li a:focus, .navbar-nav ul li a.active, .navbar-nav ul li a.active-parent, .navbar-nav ul li.current_page_item a, #menu-navmenu li a:hover { background:#202020}
.active a { color:#eb2326 !important}
body {font-family:Open Sans}
body {font-size:15px !important}
body {color:#777777}
#header-holder { background-color: #272727}
#header-holder {opacity:1}
#header-top .top-phone,#header-top p, #header-top a, #header-top i { color:#ffffff}
#header-top { background-color: #111111}
.banner ul li { height:500px;}
.banner .inner h1 { color:#111111}
.iis-caption-title a { color:#111111}
.banner .inner p { color: #111111}
.iis-caption-content p { color: #111111}
.banner .btn { color: #111111}
.banner .btn { border-color: #111111}
.iis-caption { left: 0%}
.banner .inner { padding-top: 120px}
.iis-caption { bottom: 5%}
.banner .inner { width: 90%}
.iis-caption { max-width: 90%}
#footer { background-color:#191919}
#copyright { background-color:#111111}
.footer-widget-col h4 { color:#ffffff}
.footer-widget-col h4 { border-bottom: 4px solid #444444}
.footer-widget-col a, .footer-widget-col { color:#ffffff}
.footer-widget-col ul li { border-bottom: 1px solid #444444}
#social-bar-footer ul li a i { color:#ffffff}
.home-blog {background: none repeat scroll 0 0 #ffffff}
.from-blog .post-info span a, .from-blog .post-info span {color:#111111;}
.from-blog h3 {color:#111111;}
.from-blog h2 {color:#111111;}
.from-blog {background: none repeat scroll 0 0 #ffffff;}
.blog-top-image {background: none repeat scroll 0 0 #eeeeee;}
.blog-top-image h1.section-title, .blog-top-image h1.section-title-right {color:#111111;}
.get-strated-button { background-color: #3498db}
#get-started h2 { color: #ffffff}
.get-strated-left span { color: #ffffff}
#get-started { background: none repeat scroll 0 0 #252525}
#features { background-color:#ffffff;}
h4.sub-title, #features p { color:#272727;}
#features .section-title, #features h3 { color:#191919;}
.about p {color:#111111;}
.about h2 {color:#111111;}
.about {background: none repeat scroll 0 0 #eeeeee;}
#services { background-color:#ffffff;}
#services h2, #services h3 { color:#111111;}
#services p { color:#777777;}
.cta h2 { color:#111111;}
.cta h4 { color:#111111;}
.cta { background-color:#eeeeee;}
.content-boxes h4 { color:#ffffff;}
.content-boxes {color:#ffffff}
.content-boxes {background: none repeat scroll 0 0 #252525}
.get-in-touch { background-color: #eeeeee}
.get-in-touch h2.boxtitle {color:#111111;}
.get-in-touch h4.sub-title {color:#111111;}
.git-link { color: #111111}
.git-link { border-color: #111111}
.social { background-color: #eeeeee}
